.card-header{
    background:#002147;
    color:#fff !important;
}
.card-text{
    font-size:14px;
}
.table-heading{
    background:#002147;
    color:#fff !important;
}
.table{
    font-family: 'Raleway', sans-serif;
}