
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

  .deptcont {
    width: 95vw;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
  .dept-bg{
    width: 100%;
    padding: 100px 0;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 1px solid rgba(52,50,51,.1);
    border-bottom: 1px solid rgba(52,50,51,.1);
    background-image: url(../../../../Images/counter-bg.jpg);
  }
  .dept-heading{
    display: inline-block;
    background: rgba(255, 99, 71, 0.8);
    padding: 0 80px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
 }
 .dept-heading h1{
    font-size: 35px;
    color: #002147;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle; 
    -webkit-background-clip: text; 
    -moz-background-clip: text;
    background-clip: text;
    display: inline-block;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
  }
  .dept-title{
    color:#ec1f25;
    font-weight:700;
    font-family: 'Raleway', sans-serif;
  }
  .dept-content{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    margin-left:50px;
  }
  .dept-content p ,.dept-content li{
    font-family: 'Raleway', sans-serif;
   
  }

  @media screen and (max-width: 768px) {
    .dept-content{
      margin-left:0px;
    }
  }
  
  .illustration-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outsource {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .lab-img{
    max-width:350px;
    height:300px;
  }
  