@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');


/***********************************  First Level Css Start Here ****************************************/

.AdmissionLoginContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}
/*
.form-container{
  display:flex;
  flex-direction: row;
}
.form-left-container{
  width:70%;
  margin-right:20px;
}
.form-right-container{
  width:30%;
}*/
  .mr-5{
    margin-right:5px;
  }
  .form-heading{
    text-transform: uppercase;
    font-weight:bold;
    color:#000;
    text-align: center;
    border-bottom:2px solid #000;
    width:100%;
  }
  .checkbox-container{
    width:10%;
    display:inline-block;
    margin:5px 5px;
  }
  .checkbox-container:nth-child(4){
    width:15%;
  }
  .input-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    margin:15px 0px;
  }
  .input-wrapper label{
    width:30%;
  }
  .input-container{
    width:100%;
  }
  .input-container1{
    width:40%;
  }
  .gender-container{
    width:20%;
  }
  .gender-container1{
    width:20%;
  }

  #registerImage > img {
    width: 100px;
    height:100%;
  }
  #registerImage > input {
    display: flex;
    padding: 0%;
    margin-top:20px;
  }
  
  #registerImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: 1px solid #000;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #registerImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  


  @media screen and (max-width: 600px) {
    .checkbox-container{
      display:inline;
    }
    .gender-container{
      width:50%;
    }
    .gender-container1{
      width:70%;
    }
    .form-container{
      display:flex;
      flex-direction: column;
    }
    .form-left-container{
      width:100%;
    }
    .form-right-container{
      width:100%;
    }
  
  }

  /***********************************  UnderTaking form css here ****************************************/

  .heading{
    text-transform: uppercase;
    text-align:center;
}
.name-border{
    border-top: 2px solid #000;
    width:50%;
}
.undertaking-terms{
    list-style-type: disc;
    margin-bottom:20px;
}
.undertaking-terms li{
    margin-top:10px;
    font-size:16px;
    list-style-type: disc;
}
.agree-checkbox{
    width:100%;
    margin-right:10px;
}

/***********************************  Bandapatra form css here ****************************************/

.content{
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size:larger;
}

.heading{
    font-family: 'Tiro Devanagari Marathi', serif;
}

.label{
    margin-left:8px;
    font-weight:700;
}

.big-checkbox {width: 25px; height: 25px;}

.submit-button{
    width:200px;
}