.top-container{
    background-color : #002147;
}
.top-container-left ul li{
    float:left;
    display: inline-block;
}
.top-container-left ul li a{
    color: #a3adb9;
    padding: 5px 14px;
    line-height: 30px;
    border-right: 1px solid #043267;
    font-size: 12px;
}
ul:not(.browser-default){
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0px;
}
.top-container-right{
    float:right;
}
.top-container-right ul li{
    float:right;
    display: inline-block;
}
.top-container-right ul li:nth-child(1) a{
    background: #e66030;
}
.top-container-right ul li a{
    color: #fff;
    padding: 7px 12px;
    line-height: 30px;
    font-size: 12px;
}
.top-container-right ul li:nth-child(2) a{
    background: #013673;
}
.top-container-right ul li a{
    color: #fff;
    padding: 7px 12px;
    line-height: 30px;
    font-size: 12px;
}
.top-container-social{
    position: relative;
    overflow: hidden;
    margin-top: -5px;
    float: right;
    margin-right: 25px
}
.top-container-social ul li{
    float:left;
}
.top-container-social ul li a{
    line-height:20px;
}
.top-container-social ul li a .font-icon{
    width: 15px;
    height: 15px;
    /* background: #013673; */
    color: #92a5bb;
    padding: 12px 0px 0px 15px;
    text-align: center;
    border-right: 1px solid #002147;
}