@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

.update-section{
  font-family: "Bellota Text", "cursive";
  font-weight: bolder;
  background-image : url("../../../Images/update-bg.avif");
  background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
}
.section-title1 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight:700;
    color:#ff3c38;
}
.color-black{
    color:#000;
}
.update-image{
    width:250px;
    height:250px;
    border-radius:25%;
    /* float:left; */
}
.update-content{
    /* float:right; */
    margin-top:40px;
}
.update-content h4{
    font-size: 25px;
    font-weight:700;
    color:#fff;
}
.update-content p{
    font-size: 14px;
    line-height:2rem;
    color:#fff;
}
.carousel-inner{
    /* max-width:80%; */
    /* margin:0px auto; */
}

